version: "3.7"

services:
  minecraft-server-forge:
    image: minecraft-server-forge:1.14.4-alpine
    build:
      context: .
      args:
        VERSION: 1.14.4-28.1.0
    ports:
      - 25565:25565
      - 25575:25575
    volumes:
      - ./eula.txt:/minecraft/eula.txt:ro
      - ./ops.json:/minecraft/ops.json:rw
      - ./server.properties:/minecraft/server.properties:rw
      - ./mods:/minecraft/mods:rw
      - ./world:/minecraft/world:rw
